<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style-home.css">
</head>
<h1>To Do List</h1>
<h2>By Tien Vu, Denis Korkut, Milan Milosevic, & Duji Tufail</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="buttons">

<button type="button" class=btn>
	<a href='/group/login'>Login</a></br>
</button>
<br>

<!-- <a href='/logout'>Log out</a></br> -->
<button type="button" class=btn>
	<a href='/group/signup'>Sign up</a></br>
</button>
</div>

<p>
This web application was created using <!-- <a href='expressjs.com'>Express.js</a> -->
<br />
Our report can be found <a href='/group/report'>here</a>
</p>

</body>
