.chart div {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font: 10px;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#foodSearch input{ 
  padding:6px 15px 6px 30px;
  margin:3px;
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
  /*background: url('/images/searchIcon.png') no-repeat 8px 6px; */
}

.foodSearch input{
    padding:6px 15px 6px 30px;
  margin:3px;
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
}

input[type=text]{
  color:black;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  /*height: 40px;*/
  max-width: 500px;
  margin: 0 auto;
  z-index: 1
}

#confirmDelete {
  background-color: green;
  position: relative;
  z-index: 1044;
}

.notification {
  position: fixed;
  top: 5px;
  right: 60px;
  padding: 20px;
  background-color: steelblue;
  z-index: 1
}

.googleTable {
  margin-bottom: 50px
}

.bomay {
  position: absolute;
  right: 70px;
  top: 250px;
  width: 500px;
  height: 20px;
  background-color: steelblue;
  padding-right: 15%;
}

.genCss {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.genCss table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.genCss tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.genCss table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.genCss table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.genCss tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.genCss tr:hover td{
  background-color:#ffffff;
    

}
.genCss td{
  vertical-align:middle;
  
  background-color:#ffaa56;

  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:Times New Roman;
  font-weight:bold;
  color:#000000;
}.genCss tr:last-child td{
  border-width:0px 1px 0px 0px;
}.genCss tr td:last-child{
  border-width:0px 0px 1px 0px;
}.genCss tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.genCss tr:first-child td{
    background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#ff7f00,bf5f00);

  background-color:#ff7f00;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Times New Roman;
  font-weight:bold;
  color:#ffffff;
}
.genCss tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#ff7f00,bf5f00);

  background-color:#ff7f00;
}
.genCss tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.genCss tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}