/* Scrollable list */
ul{
  height:200px; width:18%;
}

ul{
  overflow:hidden; 
  overflow-y:scroll;
}

body {
  background-color: #BDB76B;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #8B4513;
}

p {
  color: red;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
