<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
<p>Showing food list for <%= user.first + user.last %></p>
<a href='/success'>Back</a></br>
<a href='/logout'>Log out</a></br>

<div class="allFoods"></div>
</br>
<div class="pieChart"></div>
<script src="/javascript/GoogleTable.js"></script>
<script src="/javascript/parser.js"></script>
<script src="/javascript/config.js"></script>
<script>
	var charts = <%- JSON.stringify(chartData) %>
	var $allFoods = $('.allFoods')

	var allTables = []
	for (var i = 0; i < charts.length; i++) {
		var classname = 'foodChart' + i
		var fullClass = "<div class ='" + classname + "' 'googleTable'>"
		console.log(fullClass)
		$allFoods.append($(fullClass))
		allTables[i] = new GoogleTable('.'+classname, charts[i], function(){alert(1)}, sf, sfTypes, hidden)
	}
</script>
</body>