<head>
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="javascript/d3.js"></script>
</head>
<body>
<a href='/settings'>Settings</a></br>
<a href='/logout'>Log out</a></br>

<!-- <p>Search for a common food here!</p>
<form id="foodSearch">
	<span><input type="text" placeholder="Search..."></span>
</form>

<div class="foodChart"></div>
</br>
 -->






<script type="text/javascript">
   // $(document).ready(function(e) {
   //       alert(jsonObject.start.count);
   // });

   $(document).ready(function(){
  $("#toggle").click(function(){
    $("div").toggle();
  });
});
</script>


<br>


<button id="toggle">Hot Turkey Salad Sandwiches</button>
<div class="meal">



<h1>Hot Turkey Salad Sandwiches</h1>
<h2>yield: 6 servings</h2>
<h2>totalTime: 30 Min</h2>
<h2><a href="http://www.yummly.com/recipe/Hot-Turkey-Salad-Sandwiches-TasteOfHome">instructions</a></h2>

<img src="http://i2.yummly.com/Hot-Turkey-Salad-Sandwiches-Allrecipes.l.png"></img>
<li id="ingredientsList">
		<ul><p>2 cups diced cooked turkey</p></ul>
        <ul><p>2 celery ribs, diced</p></ul>
        <ul><p>1 small onion, diced</p></ul>
        <ul><p>2 hard-cooked eggs, chopped</p></ul>
        <ul><p>3/4 cup mayonnaise</p></ul>
        <ul><p>1/2 teaspoon salt</p></ul>
        <ul><p>1/4 teaspoon pepper</p></ul>
        <ul><p>6 hamburger buns, split</p></ul>
</li>

</div>


</body>