<head>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<!--<script src="http://underscorejs.org/underscore.js"></script>-->
	<script>

		var APP_ID = "1aeab161";
		var APP_KEY = "30949c53cf846dfc493a20eebfbbd422";
		var rows = [];
		var table;
		var data;

		function queryYummly(foodSearch) {
			var call = "http://api.yummly.com/v1/api/recipes?_";
			// "api.yummly.com/v1/api/recipes?_app_id=1aeab161&_app_key=30949c53cf846dfc493a20eebfbbd422&+onion+soup";

			var params = foodSearch.split(" ");

			call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY + "&q=";

			for (var i = 0; i < params.length; i++) {
				// alert(params[i]);
				call += "+" + params[i];
			};

			// call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY + "&q=";
			
			// alert(call);
			// $("#q").val(call);

			var jqhxr = $.ajax({
				type: "GET",
				url: call,
				success: function(data) {
					// alert("success search");
					updateTableResults(data);
				}, 
				error: function() {
					alert("no results found");
				}
			});
		}

		function getAndPostToFavourites(foodId) {
			var call = "http://api.yummly.com/v1/api/recipe/";
			call += foodId + "?_";
			call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY;

			var jqhxr = $.ajax({
				type: "GET",
				url: call,
				success: function(data) {
					// alert("success get by id: " + call);
					postRecipe(data);
				}, 
				error: function() {
					alert("no results found (by id)");
				}
			});
		}

		function postRecipe(data) {
			$.ajax({
				type: 'POST',
				url: '/'+'d'+'/favorites',//userSlug+'/favorites',
				data: {
					name: data.name,
					chosenId: $('#chosenId').val(),
					yield: data.yield,
					ingredientsList: data.ingredientLines,
					source: data.source.sourceRecipeUrl,
					image: data.images.hostedSmallUrl,
					nutrition: data.nutritionEstimates,
				},
				success: function(d) {
					alert("added recipe to favs");
				},
				error: function(xhr, textStatus) {
					alert("error adding recipe to favs");
				}
			});
		}

		// function yummlyGetById(foodId) {
		// 	var call = "http://api.yummly.com/v1/api/recipe/";
		// 	call += foodId + "?_";
		// 	call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY;

		// 	// alert(call);
			
		// 	var jqhxr = $.ajax({
		// 		type: "GET",
		// 		url: call,
		// 		success: function(data) {
		// 			alert("success get by id: " + call);
		// 			// updateResults(data);
		// 		}, 
		// 		error: function() {
		// 			alert("no results found (by id)");
		// 		}
		// 	});
		// }

		// function updateResults(data) {
		// 	var info = "<li>" + data.name + "</li>";
		//   	info += "<ul>";
		//   	info += "<li> img goes here </li>"; // eg 	  	info += "<li><img src=\"http://lh6.ggpht.com/Sn2qCFY3fG8cI71t9BdZ-Jyb9RyPh_0Dg79ii9iRNHhd97yQy5MYg0e9sun3HxY9inRax15XWkBSrQ3RCQGq0A=s360\"></img></li>";
		// 	info += "<li>Yield: " + data.yield + "</li>";


		// 	info += "<li>Ingredients: ";
		// 	info += "<ul>"
		// 	for (i = 0; i < data.ingredientLines.length; i++){
		// 		info += "<li>" + data.ingredientLines[i] + "</li>";
		// 	}
		// 	info += "</ul></li>"

		// 	info += "<li><a href=\"" + data.source.sourceRecipeUrl + "\">URL</a></li>";
		// 	info += "</ul><br>"
		// 	// info += "<li><img src=\"" + data.images.hostedLargeUrl + "\"></img></li>";
		// 	// info += data.images.hostedLargeUrl; // <img src="http://i2.yummly.com/Hot-Turkey-Salad-Sandwiches-Allrecipes.l.png"></img>
		// 	// info +="<li><img src=\"http://i2.yummly.com/Hot-Turkey-Salad-Sandwiches-Allrecipes.l.png\"></img></li>";
				
		// 	$("searchResults").append(info);
		// }

		function updateTableResults(data) {
			rows = new Array();
			
			$('.yummlyAttribution').prepend(data.attribution.html);

			for(var i = 0; i < data.matches.length; i++) {
				var imageLink = data.matches[i].imageUrlsBySize[90];
				var image = "<img id='img" + i +"' src='" + imageLink + "' />";
				var name = data.matches[i].recipeName;
				var brand = data.matches[i].sourceDisplayName;

				var jsonIngredients = data.matches[i].ingredients;
				var ingredients = jsonIngredients[0];// = data.matches[i].ingredients;
				for(var index = 1; index < jsonIngredients.length; index++) {
					ingredients += ", " + jsonIngredients[index];
				}

				var prepTime = data.matches[i].totalTimeInSeconds;	
				var rating = data.matches[i].rating;
				var id = data.matches[i].id;

				var row = [
					image,
					name,
					brand,
					ingredients,
					prepTime,
					rating,
					id
				];

				rows.push(row);
			}
			
			drawTable(rows);
		}

		$(document).ready(function() {

			// event listener
			$('#recipeSearch').keypress(function(e){
				if(e.keyCode == 13) {
					// disable form submission
					e.preventDefault();
					var query = $('#q').val(); //"Hot-Turkey-Salad-Sandwiches-Allrecipes";
					// alert(query);
					queryYummly(query);
				}
			});
		});
	</script>
</head>

<body>
	<a href='/logout'>Log out</a></br>

	<p>Search Yummly API for Recipes</p>
	<form id="recipeSearch"> <!-- action="/recipes" method="post" onsubmit="return reqYummlyAPI();">-->
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<input type="hidden" id="chosenId" name="chosenId" value="" method="post">
		<input type="hidden" id="slug" value="<%= user.slug %>">
		<input id="q" name="q" placeholder="Search for a recipe" type="text" value=""/>
	  	<!--<button type="submit" value="Submit" id="searchButton">Search</button>-->
	</form>

	<div class="yummlyAttribution"></div>
	<div class="recipeTable"></div>
	<br/>

	<!--<script src="http://cmpt470.csil.sfu.ca/~mmilosev/GoogleTable.js"></script>-->
	<!--<script src="/javascript/GoogleTable.js"></script>-->
	<!--<script src="/javascript/getrecipes.js"></script>-->
	<script "text/javascript">

		google.load("visualization", "1", {packages:["table"]});
		google.setOnLoadCallback(drawTable);

		function drawTable() {
		table = new google.visualization.Table($('.recipeTable').get(0));

		data = new google.visualization.DataTable();

		var fields = [
			"Image",
			"Name",
			"Source",
			"Ingredients",
			"Preparation (secs)",
			"Rating",
			"Id"
		];

		data.addColumn('string', fields[0]);
		data.addColumn('string', fields[1]);
		data.addColumn('string', fields[2]);
		data.addColumn('string', fields[3]);
		data.addColumn('number', fields[4]);
		data.addColumn('number', fields[5]);
		data.addColumn('string', fields[6]);

		data.addRows(rows);


		// table.view = new google.visualization.DataView(data);
	 // 	table.view.hideColumns(fields[5]);

		google.visualization.events.addListener(table, 'select', selectTableListener);

		table.draw(data, {showRowNumber: false, allowHtml: true});
	}

	function selectTableListener() {
		var idx = table.getSelection();
		var selectedRow = idx[0]['row'];

		var recipeId = data.getValue(selectedRow, 6);
		$("#chosenId").val(recipeId);
		// alert(recipeId);

		if(confirm("Are you sure you want to add " + recipeId + "to your favourites?")) {
			getAndPostToFavourites(recipeId);
		}
	}
	</script>
</body>