<head>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>
		var APP_ID = "1aeab161";
		var APP_KEY = "30949c53cf846dfc493a20eebfbbd422";

		function queryYummly(foodSearch) {
			var call = "http://api.yummly.com/v1/api/recipes?_";
			// var params = foodName.split(" ");

			// call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY + "&";

			// for (var i = 0; i < params.length; i++) {
			// 	call += "+" + params[i];
			// };

			call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY + "&" + foodSearch;
			
			alert(call);
			
			var jqhxr = $.ajax({
				type: "GET",
				url: call,
				success: function(data) {
					alert("success search");
					updateTableResults(data);
				}, 
				error: function() {
					alert("no results found");
				}
			});
		}

		function yummlyGetById(foodId) {
			var call = "http://api.yummly.com/v1/api/recipe/";
			call += foodId + "?_";
			call += "app_id=" + APP_ID + "&_app_key=" + APP_KEY;

			alert(call);
			
			var jqhxr = $.ajax({
				type: "GET",
				url: call,
				success: function(data) {
					alert("success get by id");
					// updateResults(data);
				}, 
				error: function() {
					alert("no results found");
				}
			})
		}

		function updateResults(data) {
			var info = "<li>" + data.name + "</li>";
		  	info += "<ul>";
		  	info += "<li> img goes here </li>"; // eg 	  	info += "<li><img src=\"http://lh6.ggpht.com/Sn2qCFY3fG8cI71t9BdZ-Jyb9RyPh_0Dg79ii9iRNHhd97yQy5MYg0e9sun3HxY9inRax15XWkBSrQ3RCQGq0A=s360\"></img></li>";
			info += "<li>Yield: " + data.yield + "</li>";


			info += "<li>Ingredients: ";
			info += "<ul>"
			for (i = 0; i < data.ingredientLines.length; i++){
				info += "<li>" + data.ingredientLines[i] + "</li>";
			}
			info += "</ul></li>"

			info += "<li><a href=\"" + data.source.sourceRecipeUrl + "\">URL</a></li>";
			info += "</ul><br>"
			// info += "<li><img src=\"" + data.images.hostedLargeUrl + "\"></img></li>";
			// info += data.images.hostedLargeUrl; // <img src="http://i2.yummly.com/Hot-Turkey-Salad-Sandwiches-Allrecipes.l.png"></img>
			// info +="<li><img src=\"http://i2.yummly.com/Hot-Turkey-Salad-Sandwiches-Allrecipes.l.png\"></img></li>";
				
			$("searchResults").append(info);
		}

		function updateTableResults(data) {
			var items = [];
			// var i = 0;
			// var len = data.matches.length;
			for(var i = 0; i < data.matches.length; i++) {
				var name = data.matches[i].recipeName;
				var brand = data.matches[i].sourceDisplayName;
				var ingredients = data.matches[i].ingredients;
				// var jsonIngredients = data.matches[i].ingredients;
				// var j;
				// for(j = 0; j < jsonIngredients.length; j++) {
				// 	ingredients[j] = 
				// }
				var prepTime = data.matches[i].totalTimeInSeconds;	
				var rating = data.matches[i].rating;
				var id = data.matches[i].id;

				var item = [
					name,
					brand,
					ingredients,
					prepTime,
					rating,
					id
				];

				items[i] = item;
			}
			// myTable.googleChartsDraw(jsonToArrayArrays(items, fields));
			myTable.googleChartsDraw(items);
		}

		$(document).ready(function() {
			var initRows = [];
			var fields = [
			    "recipeName",
			    "sourceDisplayName",
			    "ingredients",
			    "totalTime",
			    "rating",
			    "id"
			];
			var hidden = [fields.length - 1];

			var myTable = new GoogleTable('.foodChart', initRows, tableHandler, fields, hidden);
			function tableHandler(e) {
				var rowIndex = myTable.getSelectedRow();
				alert(rowIndex);
				//TODO Add listener to serach by ID
			};

			// event listener
			$('#recipeSearch').keypress(function(e){
				if(e.keyCode == 13) {
					// disable form submission
					e.preventDefault();
					var query = $('#q').val(); //"Hot-Turkey-Salad-Sandwiches-Allrecipes";
					alert(query);
					queryYummly(query);
				}
			});
		});
	</script>
</head>

<body>
	<a href='/logout'>Log out</a></br>

	<p>Search Yummly API for Recipes</p>
	<form id="recipeSearch"> <!-- action="/search" method="post" onsubmit="return reqYummlyAPI();">-->
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<input id="q" name="q" placeholder="Search for a recipe" type="text" value=""/>
	  	<!--<button type="submit" value="Submit" id="searchButton">Search</button>-->
	</form>

	<p>Results</p>
	<br/>
	<div class="foodChart"></div>
	<br/>

	<!--<script src="http://cmpt470.csil.sfu.ca/~mmilosev/GoogleTable.js"></script>-->
	<script src="/javascript/GoogleTable.js"></script>
	<!--<script src="/javascript/getrecipes.js"></script>-->
	
</body>