<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascript/search.js"></script>
</head>

<body>
	<a href='/logout'>Log out</a></br>

	<p>Search Yummly API for Recipes</p>
	<form id="recipeSearch">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<input id="q" placeholder="Search for a recipe" type="text" value=""/>
	</form>

	<p>Results</p>
	<ul id="resultsList">
	</ul>
	
</body>