<form action="/settings" method="post">
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<p>Calorie Intake</p><input type="text" name="caloriesIn"></br>
	<p>Daily current calories</p><input type="text" name="caloriesOut"></br>
	<input type="submit" value="Save">
</form>
<a href="/success">Back</a>