<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodaily - Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign up!</h3>
                    </div>
                    <div class="panel-body">
                        <form name="input" role="form">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    <input class="form-control" placeholder="Re-type Password" type="password" name="passwordre">
                                </div>
								<div class="form-group">
	                                <input class="form-control" type="text" name="screenname" placeholder="Screen Name">
								</div>

                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Signup">
                                <hr>
                                <center>
                                     <a href="/auth/facebook"><img src="images/login-with-facebook.png" width="154" height="22"></a>
                                </center>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Send login request with XHR -->
    <script src="/stylesheets/notify.min.js"></script>
    <script src="/javascript/notify.js"></script>
    <script>
        $('form[name="input"]').on('submit', function(e){
            e.preventDefault()
            var csrf = "<%= csrfToken %>"

            $.ajax({
                type: 'POST',
                url: '/signup',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader ("Authorization", "From Signup");
                },
                data: {
                    username: $('input[name="username"]').val(),
                    password: $('input[name="password').val(),
                    passwordre: $('input[name="passwordre').val(),
                    screenname: $('input[name="screenname').val(),
                    _csrf: csrf
                },
                success: function(rtnjson) {
                    if (!rtnjson.success) {
                        $.notify(rtnjson.message, {
                            style: 'bootstrap'
                        })
                    } else {
                        $.notify(rtnjson.message, {
                            style: 'myStyle'
                        })
                        window.location = rtnjson.url
                    }
                }
            })
        })
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>