<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascript/d3.js"></script>
</head>
<p>Successfully logged in</p>
<p>Logged in as user <%= user.username %></p>
<ul>
<% for (var i = 0; i < user.list.length; i++){ %>
<li><%= user.list[i] %></li>
<% } %>
</ul>
<a href='/logout'>Log out</a>