<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<link rel="stylesheet" href="magnificPopup/magnific-popup.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="magnificPopup/jquery.magnific-popup.js"></script> 
<script src="https://www.google.com/jsapi"></script>
</head>
<body>
<p>Successfully logged in</p>
<p>Logged in as user <%= user.username %></p>
<a href='/settings'>Settings</a></br>
<a href='/logout'>Log out</a></br>
<a href='/search'>Search for Recipes</a></br>
<a href='/foods'>See your foods here</a></br>

<!-- link that opens popup -->
<p class="popup-with-form" href="#test-form">Open form</p>

<!-- form itself -->
<form method="POST" action = "/saveFood" id="test-form" class="white-popup mfp-hide pure-form">
	<h1>Form</h1>
		<ol>
			<li>
				<label for="amount">Amount</label>
				<input id="amount" name="amount" type="text" placeholder="Amount eaten" required="">
			</li>
		</ol>
	<input id="chosenFood" name="chosenFood" type="hidden" value="">
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<button form="test-form" class="pure-button">Save!</button>
	<div class="pieChart"></div>
</form>

<p>Search for a common food here!</p>
<form id="foodSearch">
	<span><input type="text" placeholder="Search..."></span>
</form>

<div class="foodChart"></div>
</br>

<!-- custom scripts go down here -->
<script src="javascript/script.js"></script>
<script src="javascript/GooglePie.js"></script>
<script src="javascript/config.js"></script>
<script src="javascript/magnificPopup.js"></script>
<script>
	var myPieChart = new GooglePie()
	var myTable = new GoogleTable('foodResults', [], tableHandler)
	var $chosenFood= $('#chosenFood')

	function tableHandler(e) {
		var rowIndex = myTable.getSelectedRow()
		var info = []
		for (var i = 0; i < map.length; i++) {
			info[i] = myTable.getValue(rowIndex, map[i])
		}

		var id = myTable.getValue(rowIndex, fields.length - 1)
		$('#chosenFood').val(myTable.getValue(1, fields.length))

		myPieChart.googlePieUpdate(info)
	};

	// requests nutritionix, parse json and update google table
	function searchFoodsByName(foodName) {
		queryDict["query"] = foodName;

		$.ajax({
			type: "POST",
			url: "https://api.nutritionix.com/v1_1/search",
			data: queryDict,
			success: function(d) {
				myTable.googleChartsUpdate(d)
				$('.google-visualization-table-table td').attr({
					class: 'popup-with-form',
					href: '#test-form' 
				})

				$('.popup-with-form').magnificPopup({
					type: 'inline',
					focus: '#name',
				});
			},
		});
	};

</script>
</body>