<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="javascript/d3.js"></script>
</head>
<p>Successfully logged in</p>
<p>Logged in as user <%= user.username %></p>
<ul>
<% for (var i = 0; i < user.list.length; i++){ %>
<li><%= user.list[i] %></li>
<% } %>
</ul>
<div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div>
<a href='/settings'>Settings</a></br>
<a href='/logout'>Log out</a></br>
<a href='/search'>Search for Recipes</a>