<head>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="javascript/d3.js"></script>
</head>
<p>Successfully logged in</p>
<p>Logged in as user <%= user.username %></p>
<div class="chart"></div>
<textarea id="ta1"></textarea>
<textarea id="ta2"></textarea>
<button onclick="return f()">Click me!</button></br>
<a href='/settings'>Settings</a></br>
<a href='/logout'>Log out</a></br>
<a href='/search'>Search for Recipes</a>