<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
</head>
<body>
<p>Viewing all friends for <%= user.slug %></p>

<p>Your friends</p>
<ul>
<% for (var i = 0; i < allFriends.length; i++) { %>
	<li>
		<a href='/<%= user.slug %>/friends/view/<%= allFriends[i] %>'><%= allFriends[i] %></a>
	</li>
<% } %>
</ul>
